.line{
    width: 80%;
    height: 400px;
    margin: auto;
    padding: 50px 0;
    display: flex;
}
.image-container img {
    width: 100%;
    height: 400px;
} 
.small-images {
    width: 80%;
    margin: auto;
    display: flex;
}
.small-images img {
    width: 100px;
    height: 100px;
    margin: 0 16px;
}
.small-images img:hover{
    box-shadow: 0 0 2px gray;
    border-radius: 3px;
    transform: scale(1.1);
}
.text{
    color: black;
    margin: 20px 50px;
    padding: 50px;
} 
.text h2{
    text-align: left;
}
.text button{
    color: white;
    background-color: black;
    box-shadow: 0 0 2px gray;
    border-radius: 3px ;
    padding: 10px;
    margin: 40px;
}
